<main class="py-6">
  <div class="w-full lg:max-w-7xl lg:mx-auto lg:px-8">
    <div class="flex overflow-x-auto bg-gray-200 p-4 lg:rounded-lg">
      <%= link_to card_sorts_path, {class: "focus:outline-none"} do %>
        <div class="w-64 h-64 mr-4 bg-white shadow rounded-lg hover:bg-gray-50 focus:bg-gray-50 transition duration-150 ease-in-out">
          <div class="flex h-48 justify-center p-6">
            <%= image_tag(asset_pack_path("media/images/cardsorts.svg", class: "")) %>
          </div>
          <div class="flex-1 border-t border-gray-200 px-4 py-4 sm:px-6 text-center">
            <h3 class="text-xl leading-7 font-semibold text-purple-500">
              Card Sorts
            </h3>
          </div>
        </div>
      <% end %>
      <%= link_to tree_tests_path, {class: "focus:outline-none"} do %>
        <div class="w-64 h-64 mr-4 bg-white shadow rounded-lg hover:bg-gray-50 focus:bg-gray-50 transition duration-150 ease-in-out">
          <div class="flex h-48 justify-center p-6">
            <%= image_tag(asset_pack_path("media/images/treetests.svg", class: "")) %>
          </div>
          <div class="flex-1 border-t border-gray-200 px-4 py-4 sm:px-6 text-center">
            <h3 class="text-xl leading-7 font-semibold text-purple-500">
              Tree Tests
            </h3>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</main>