<div class="py-6 border-b">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="md:flex md:items-center md:justify-between">
      <div class="flex-1 min-w-0">
        <h1 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:leading-9 sm:truncate">
          Card Sort Name
        </h1>
        <div class="mt-1 flex flex-col sm:mt-0 sm:flex-row sm:flex-wrap">
          <div class="mt-2 mr-6 flex items-center text-sm leading-5 text-gray-500">
            <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"/>
            </svg>
            Created on 03/30/2020
          </div>
        </div>
      </div>
      <div class="mt-4 flex md:mt-0 md:ml-4">
        <span class="inline-flex self-center items-center mr-3 px-3 py-0.5 rounded-full text-sm font-medium leading-5 bg-green-100 text-green-800">
          <svg class="-ml-1 mr-1.5 h-2 w-2 text-green-400" fill="currentColor" viewBox="0 0 8 8">
            <circle cx="4" cy="4" r="3"></circle>
          </svg>
          Published
        </span>

        <span class="ml-3 shadow-sm rounded-md">
          <button class="save-btn opacity-50 inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-green-500 hover:bg-green-400 focus:outline-none focus:shadow-outline-green focus:border-green-600 transition duration-150 ease-in-out">
            <svg class="-ml-1 mr-2 h-5 w-5 text-white" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10 18C14.4183 18 18 14.4183 18 10C18 5.58172 14.4183 2 10 2C5.58172 2 2 5.58172 2 10C2 14.4183 5.58172 18 10 18ZM13.7071 8.70711C14.0976 8.31658 14.0976 7.68342 13.7071 7.29289C13.3166 6.90237 12.6834 6.90237 12.2929 7.29289L9 10.5858L7.70711 9.29289C7.31658 8.90237 6.68342 8.90237 6.29289 9.29289C5.90237 9.68342 5.90237 10.3166 6.29289 10.7071L8.29289 12.7071C8.68342 13.0976 9.31658 13.0976 9.70711 12.7071L13.7071 8.70711Z"/>
            </svg>
            Save
          </button>
        </span>
      </div>
    </div>
  </div>
</div>
<main class="py-6">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex flex-wrap">
      <div class="w-full md:w-1/3 xl:w-2/5 md:pr-16 mb-6">
        <div class="bg-white shadow sm:rounded-lg text-center mb-6">
          <div class="px-4 py-5 sm:p-6">
            <h3 class="text-lg leading-6 font-medium text-gray-900 mb-4">
              103 Sort Result(s)
            </h3>
            <div class="fields-inline items-end">
              <a class="block w-full text-center px-6 py-3 rounded-md shadow-sm border border-transparent text-base leading-6 font-medium rounded-md text-white bg-purple-600 hover:bg-purple-500 focus:outline-none focus:border-purple-700 focus:shadow-outline-purple active:bg-purple-700 transition ease-in-out duration-150" href="/cardsorts/report">
                View Report
              </a>                
            </div>
          </div>
        </div>
        <div class="bg-white shadow sm:rounded-lg text-center mb-6">
          <div class="px-4 py-5 sm:p-6">
            <h3 class="text-lg leading-6 font-medium text-gray-900">
              🎉 Your card sort is <span class="text-green-500">published</span>.
            </h3>

            <p class="text-sm text-center py-2 mb-4">
              Copy the link below to share with participants.
            </p>

            <div>
              <div class="mt-1 flex rounded-md shadow-sm">
                <div class="relative flex-grow focus-within:z-10">
                  <input id="email" class="form-input block w-full rounded-none rounded-l-md transition ease-in-out duration-150 sm:text-sm sm:leading-5" placeholder="http://localhost:5000/collect/5qwdlodm" />
                </div>
                <button class="-ml-px relative inline-flex items-center px-4 py-2 text-sm leading-5 font-medium rounded-r-md text-white bg-purple-600 hover:bg-purple-500 focus:outline-none focus:border-purple-700 focus:shadow-outline-purple active:bg-purple-700 transition ease-in-out duration-150">
                  <svg class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M9 2C7.89543 2 7 2.89543 7 4V12C7 13.1046 7.89543 14 9 14H15C16.1046 14 17 13.1046 17 12V6.41421C17 5.88378 16.7893 5.37507 16.4142 5L14 2.58579C13.6249 2.21071 13.1162 2 12.5858 2H9Z"/>
                    <path d="M3 8C3 6.89543 3.89543 6 5 6V16H13C13 17.1046 12.1046 18 11 18H5C3.89543 18 3 17.1046 3 16V8Z"/>
                  </svg>
                  <span class="ml-2">Copy</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-gray-200 overflow-hidden rounded-lg mb-6 text-center">
          <div class="px-4 py-5 sm:p-6">
            <a href="#" class="mb-6 block text-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md shadow-sm text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:text-gray-800 active:bg-gray-50 transition ease-in-out duration-150">End This Sort</a>
            <p class="text-sm">
              Need to <a href="#" class="text-red-700 underline">delete</a> this sort?
            </p>
          </div>
        </div>
      </div>
      <div class="w-full md:w-2/3 xl:w-3/5">
        <div class="bg-purple-100 sm:rounded-lg mb-6">
          <div class="px-4 py-5 sm:p-6">
            <h3 class="text-lg leading-6 font-medium text-gray-900">
              Participant Preview
            </h3>
            <div class="mt-2 sm:flex sm:items-start sm:justify-between">
              <div class="max-w-xl text-sm leading-5 text-gray-500">
                <p>
                  Test drive your card sort exactly as your participants will experience it.
                </p>
              </div>
              <div class="mt-5 sm:mt-0 sm:ml-6 sm:flex-shrink-0 sm:flex sm:items-center">
                <span class="shadow-sm rounded-md">
                  <a href="/cardsort_participants" target="_blank" class="preview-btn inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:text-gray-800 active:bg-gray-50 transition ease-in-out duration-150">
                    <svg class="-ml-1 mr-2 h-5 w-5 text-gray-700" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 12C11.1046 12 12 11.1046 12 10C12 8.89543 11.1046 8 10 8C8.89544 8 8.00001 8.89543 8.00001 10C8.00001 11.1046 8.89544 12 10 12Z"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M0.457764 10C1.73202 5.94291 5.52232 3 9.99997 3C14.4776 3 18.2679 5.94288 19.5422 9.99996C18.2679 14.0571 14.4776 17 9.99995 17C5.52232 17 1.73204 14.0571 0.457764 10ZM14 10C14 12.2091 12.2091 14 10 14C7.79087 14 6.00001 12.2091 6.00001 10C6.00001 7.79086 7.79087 6 10 6C12.2091 6 14 7.79086 14 10Z"/>
                    </svg>
                    Preview
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="mb-6">
            <div class="block">
              <div class="border-b border-gray-200 text-gray-500">
                <nav class="-mb-px flex">
                  <button 
                    class="w-1/2 py-4 px-1 text-center border-b-2 border-purple-500 text-purple-600 focus:outline-none focus:text-purple-800 focus:border-purple-700 font-medium text-sm leading-5">
                    Settings
                  </button>
                  <button 
                    class="w-1/2 py-4 px-1 text-center border-b-2 border-transparent font-medium text-sm leading-5">
                    Cards
                  </button>
                </nav>
              </div>
            </div>
          </div>
          <div id="settings">
          <div id="settings">
          <div class="grid grid-cols-1 row-gap-6 col-gap-4 sm:grid-cols-6">
            <div class="sm:col-span-4">
              <label for="name" class="block text-sm font-medium leading-5 text-gray-700">Name</label>
              <div class="mt-1 relative rounded-md shadow-sm">
                <input id="name" class="form-input block w-full sm:text-sm sm:leading-5 opacity-50 cursor-not-allowed" placeholder="Card Sort Name" disabled />
              </div>
            </div>
            <div class="sm:col-span-4">
              <label for="logo" class="block text-sm leading-5 font-medium text-gray-700">
                Logo
              </label>
              <div class="mt-2 flex items-center">
                <span class="rounded-md shadow-sm">
                  <button type="button" class="py-2 px-3 border border-gray-300 rounded-md text-sm leading-4 font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition duration-150 ease-in-out opacity-50 cursor-not-allowed" disabled>
                    Choose File
                  </button>
                </span>
              </div>
              <p class="mt-2 text-sm text-gray-500">Upload a custom logo for this card sort</p>
            </div>
            <div class="sm:col-span-4">
              <label for="instructions" class="block text-sm font-medium leading-5 text-gray-700">
                Participant Instructions
              </label>
              <div class="mt-1 rounded-md shadow-sm">
                <textarea id="instructions" rows="3" class="form-textarea block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5 opacity-50 cursor-not-allowed" disabled>
Thank you for agreeing to help us. This shouldn't take more than 5 minutes!
                
Your participation will help us make sure our website is easy to navigate.
                </textarea>
              </div>
              <p class="mt-2 text-sm text-gray-500">Greet your card sort participants with a custom introduction</p>
            </div>
            <div class="sm:col-span-4">
              <label for="thanks" class="block text-sm font-medium leading-5 text-gray-700">
                Thank You Message
              </label>
              <div class="mt-1 rounded-md shadow-sm">
                <textarea id="thanks" rows="3" class="form-textarea block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5 opacity-50 cursor-not-allowed" disabled>
Thanks for taking the time to help us.

Your contribution is essential in our journey to deliver improvements.
                </textarea>
              </div>
              <p class="mt-2 text-sm text-gray-500">Custom thank you message to show participants upon completion</p>
            </div>
          </div>
        </div>
        <div id="cards">
          <div class="grid grid-cols-1 row-gap-6 col-gap-4 sm:grid-cols-6">
            <div class="sm:col-span-4">
              <div class="bg-purple-100 overflow-hidden shadow rounded-lg border border-purple-600 mb-3">
                <div class="p-2 sm:p-3">
                  <div class="flex items-center">
                    <div class="flex-shrink-0 p-1">
                      <input id="open_sort" name="sort_type" value="open" aria-label="open" type="radio" disabled checked class="h-4 w-4 border-gray-300 text-purple-600 focus:shadow-outline-purple focus:border-purple-300 transition duration-150 ease-in-out" />
                    </div>
                    <div class="ml-2 w-0 flex-1">
                      <p class="text-sm leading-5 font-medium text-gray-700">Open Sort</p>
                      <p class="text-sm text-gray-500">Participants sort cards into groups they create and name.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="sm:col-span-4">
              <label for="logo" class="block text-sm leading-5 font-medium text-gray-700">
                Pre-Defined Groups
              </label>
              <div class="flex items-top justify-between bg-white overflow-hidden shadow rounded-md p-2 mb-3">
                <div class="flex-1 min-w-0">
                  <span class="px-2 py-1 block w-full text-sm font-medium leading-5 text-gray-700">
                    Group Name
                  </span>
                </div>
              </div>
            </div>
            <div class="sm:col-span-4">
              <label for="logo" class="block text-sm leading-5 font-medium text-gray-700">
                Cards
              </label>
              <div class="mb-3 flex items-center">
                <span class="relative inline-block">
                    [ toggle ]
                </span>
                <label for="randomize" class="block text-sm font-medium leading-5 text-gray-700 ml-2">
                    Randomize card order for participants
                </label>
              </div>
              <div class="flex items-top justify-between bg-white overflow-hidden shadow rounded-md p-2 mb-3">
                <div class="flex-1 min-w-0">
                  <span class="px-2 py-1 block w-full text-sm font-medium leading-5 text-gray-700">
                    Card Name
                  </span>
                </div>
              </div>
              <div class="flex items-top justify-between bg-white overflow-hidden shadow rounded-md p-2 mb-3">
                <div class="flex-1 min-w-0">
                  <span class="px-2 py-1 block w-full text-sm font-medium leading-5 text-gray-700">
                    Card Name
                  </span>
                  <span class="px-2 py-1 block w-full text-sm font-regular leading-5 text-gray-700">
                    Card Description
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
