<div class="bg-orange-100 text-orange-800 text-center py-6">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="inline-flex items-center">
      <svg class="-ml-1 mr-2 h-5 w-5 text-orange-800" fill="currentColor" viewBox="0 0 20 20">
        <path d="M10 12C11.1046 12 12 11.1046 12 10C12 8.89543 11.1046 8 10 8C8.89544 8 8.00001 8.89543 8.00001 10C8.00001 11.1046 8.89544 12 10 12Z"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.457764 10C1.73202 5.94291 5.52232 3 9.99997 3C14.4776 3 18.2679 5.94288 19.5422 9.99996C18.2679 14.0571 14.4776 17 9.99995 17C5.52232 17 1.73204 14.0571 0.457764 10ZM14 10C14 12.2091 12.2091 14 10 14C7.79087 14 6.00001 12.2091 6.00001 10C6.00001 7.79086 7.79087 6 10 6C12.2091 6 14 7.79086 14 10Z"/>
      </svg>
      <h5 class="text-sm">This is a preview of your card sort. Results will not be saved.</h5>
    </div>
  </div>
</div>
<div class="bg-white shadow-sm px-4 py-5 sm:px-6">
    <div class="-ml-4 -mt-4 flex justify-between items-center flex-wrap sm:flex-no-wrap">
        <div class="ml-4 mt-4">
            <span class="shadow-sm rounded-md">
                <button class="inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:text-gray-800 active:bg-gray-50 transition ease-in-out duration-150">
                    <svg class="-ml-1 mr-2 h-5 w-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M18 10C18 14.4183 14.4183 18 10 18C5.58172 18 2 14.4183 2 10C2 5.58172 5.58172 2 10 2C14.4183 2 18 5.58172 18 10ZM11 6C11 6.55228 10.5523 7 10 7C9.44772 7 9 6.55228 9 6C9 5.44772 9.44772 5 10 5C10.5523 5 11 5.44772 11 6ZM9 9C8.44772 9 8 9.44772 8 10C8 10.5523 8.44772 11 9 11V14C9 14.5523 9.44772 15 10 15H11C11.5523 15 12 14.5523 12 14C12 13.4477 11.5523 13 11 13V10C11 9.44772 10.5523 9 10 9H9Z" />
                    </svg>
                    Instructions
                </button>
            </span>
        </div>
        <div class="ml-4 mt-4 flex items-center">
            <span class="invisible sm:visible flex-1 self-center mr-4 text-sm leading-5 font-medium">
                All done?
            </span>
            <span class="shadow-sm rounded-md">
                <button class="inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-green-500 hover:bg-green-400 focus:outline-none focus:shadow-outline-green focus:border-green-600 transition duration-150 ease-in-out">
                    <svg class="-ml-1 mr-2 h-5 w-5 text-white" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10 18C14.4183 18 18 14.4183 18 10C18 5.58172 14.4183 2 10 2C5.58172 2 2 5.58172 2 10C2 14.4183 5.58172 18 10 18ZM13.7071 8.70711C14.0976 8.31658 14.0976 7.68342 13.7071 7.29289C13.3166 6.90237 12.6834 6.90237 12.2929 7.29289L9 10.5858L7.70711 9.29289C7.31658 8.90237 6.68342 8.90237 6.29289 9.29289C5.90237 9.68342 5.90237 10.3166 6.29289 10.7071L8.29289 12.7071C8.68342 13.0976 9.31658 13.0976 9.70711 12.7071L13.7071 8.70711Z"/>
                    </svg>
                    Submit
                </button>
            </span>
        </div>
    </div>
</div>
<div class="px-6 py-6 mb-64">
    <div class="flex flex-wrap -mx-2">
        <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 px-2 mb-4">
            <div class="bg-gray-200 overflow-hidden rounded-lg">
                <div class="bg-white px-4 py-2 border-b border-gray-200 cursor-move">
                    <div class="-ml-4 -mt-2 flex items-center justify-between flex-wrap">
                        <div class="ml-4 mt-2">
                            <a href="#" class="text-base font-medium leading-5 text-purple-600 underline">
                                Investments
                            </a>
                        </div>
                        <div class="ml-4 mt-2 flex-shrink-0">
                            <span class="inline-flex rounded-md shadow-sm">
                                <button type="button" class="inline-flex items-center px-2 py-1 border border-transparent text-xs leading-4 font-medium rounded text-red-500 bg-red-100 hover:bg-red-50 focus:outline-none focus:border-red-300 focus:shadow-outline-red active:bg-red-200 transition ease-in-out duration-150">
                                    <svg class="h-5 w-5 text-red-500" fill="currentColor" viewBox="0 0 20 20">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9 2C8.62123 2 8.27497 2.214 8.10557 2.55279L7.38197 4H4C3.44772 4 3 4.44772 3 5C3 5.55228 3.44772 6 4 6L4 16C4 17.1046 4.89543 18 6 18H14C15.1046 18 16 17.1046 16 16V6C16.5523 6 17 5.55228 17 5C17 4.44772 16.5523 4 16 4H12.618L11.8944 2.55279C11.725 2.214 11.3788 2 11 2H9ZM7 8C7 7.44772 7.44772 7 8 7C8.55228 7 9 7.44772 9 8V14C9 14.5523 8.55228 15 8 15C7.44772 15 7 14.5523 7 14V8ZM12 7C11.4477 7 11 7.44772 11 8V14C11 14.5523 11.4477 15 12 15C12.5523 15 13 14.5523 13 14V8C13 7.44772 12.5523 7 12 7Z"/>
                                    </svg>
                                </button>
                            </span>
                        </div>
                     </div>
                </div>
                <div class="p-4">
                    <div class="bg-white overflow-hidden shadow rounded-md p-2 mb-2 cursor-move">
                        <div class="flex-1 min-w-0">
                            <span class="px-2 py-1 block w-full text-sm font-medium leading-5 text-gray-700">
                                Roth IRA
                            </span>
                        </div>
                    </div>
                    <div class="bg-white overflow-hidden shadow rounded-md p-2 mb-2 cursor-move">
                        <div class="flex-1 min-w-0">
                            <span class="px-2 py-1 block w-full text-sm font-medium leading-5 text-gray-700">
                                401(k)
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 px-2 mb-4">
            <div class="bg-gray-200 overflow-hidden rounded-lg">
                <div class="bg-white px-4 py-2 border-b border-gray-200 cursor-move">
                    <div class="-ml-4 -mt-2 flex items-center justify-between flex-wrap">
                        <div class="ml-4 mt-2">
                            <a href="#" class="text-base font-medium leading-5 text-purple-600 underline">
                                Name this group...
                            </a>
                        </div>
                        <div class="ml-4 mt-2 flex-shrink-0">
                            <span class="inline-flex rounded-md shadow-sm">
                                <button type="button" class="inline-flex items-center px-2 py-1 border border-transparent text-xs leading-4 font-medium rounded text-red-500 bg-red-100 hover:bg-red-50 focus:outline-none focus:border-red-300 focus:shadow-outline-red active:bg-red-200 transition ease-in-out duration-150">
                                    <svg class="h-5 w-5 text-red-500" fill="currentColor" viewBox="0 0 20 20">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9 2C8.62123 2 8.27497 2.214 8.10557 2.55279L7.38197 4H4C3.44772 4 3 4.44772 3 5C3 5.55228 3.44772 6 4 6L4 16C4 17.1046 4.89543 18 6 18H14C15.1046 18 16 17.1046 16 16V6C16.5523 6 17 5.55228 17 5C17 4.44772 16.5523 4 16 4H12.618L11.8944 2.55279C11.725 2.214 11.3788 2 11 2H9ZM7 8C7 7.44772 7.44772 7 8 7C8.55228 7 9 7.44772 9 8V14C9 14.5523 8.55228 15 8 15C7.44772 15 7 14.5523 7 14V8ZM12 7C11.4477 7 11 7.44772 11 8V14C11 14.5523 11.4477 15 12 15C12.5523 15 13 14.5523 13 14V8C13 7.44772 12.5523 7 12 7Z"/>
                                    </svg>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="p-4">
                    <div class="bg-white overflow-hidden shadow rounded-md p-2 mb-2 cursor-move">
                        <div class="flex-1 min-w-0">
                            <span class="px-2 py-1 block w-full text-sm font-medium leading-5 text-gray-700">
                                Identity Protection
                            </span>
                        </div>
                    </div>
                    <div class="bg-white overflow-hidden shadow rounded-md p-2 mb-2 cursor-move">
                        <div class="flex-1 min-w-0">
                            <span class="px-2 py-1 block w-full text-sm font-medium leading-5 text-gray-700">
                                Credit Monitoring
                            </span>
                        </div>
                    </div>
                    <div class="bg-white overflow-hidden shadow rounded-md p-2 mb-2 cursor-move">
                        <div class="flex-1 min-w-0">
                            <span class="px-2 py-1 block w-full text-sm font-medium leading-5 text-gray-700">
                                Tax Preparation
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 px-2 mb-4">
            <div class="bg-gray-200 overflow-hidden rounded-lg">
                <div class="bg-white px-4 py-2 border-b border-gray-200 cursor-move">
                    <div class="-ml-4 -mt-2 flex items-center justify-between flex-wrap">
                        <div class="flex-1 ml-4 mt-2">
                            <div class="rounded-md shadow-sm">
                                <input class="form-input px-2 py-1 block w-full transition duration-150 ease-in-out text-base font-medium leading-5 text-gray-700" placeholder="Group Name" />
                            </div>
                        </div>
                        <div class="ml-2 mt-2 flex-shrink-0">
                            <span class="inline-flex rounded-md shadow-sm">
                                <button type="button" class="inline-flex items-center px-2 py-1 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-green-500 hover:bg-green-400 focus:outline-none focus:shadow-outline-green focus:border-green-600 transition duration-150 ease-in-out">
                                    <svg class="-ml-1 mr-2 h-5 w-5 text-white" fill="currentColor" viewBox="0 0 20 20">
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M10 18C14.4183 18 18 14.4183 18 10C18 5.58172 14.4183 2 10 2C5.58172 2 2 5.58172 2 10C2 14.4183 5.58172 18 10 18ZM13.7071 8.70711C14.0976 8.31658 14.0976 7.68342 13.7071 7.29289C13.3166 6.90237 12.6834 6.90237 12.2929 7.29289L9 10.5858L7.70711 9.29289C7.31658 8.90237 6.68342 8.90237 6.29289 9.29289C5.90237 9.68342 5.90237 10.3166 6.29289 10.7071L8.29289 12.7071C8.68342 13.0976 9.31658 13.0976 9.70711 12.7071L13.7071 8.70711Z"/>
                                    </svg>
                                    Save
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="p-4">
                    <div class="bg-white overflow-hidden shadow rounded-md p-2 mb-2 cursor-move">
                        <div class="flex-1 min-w-0">
                            <span class="px-2 py-1 block w-full text-sm font-medium leading-5 text-gray-700">
                                CDs
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 px-2 mb-4">
            <div class="w-full h-24 mr-4 bg-none rounded-lg border-4 border-gray-300 hover:border-gray-400 border-dashed hover:bg-gray-300 focus:bg-gray-300 transition duration-150 ease-in-out">
                <div class="h-full flex items-center justify-center p-6">
                </div>
            </div>
        </div>
        <div class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/5 px-2 mb-4">

        </div>
    </div>
</div>
<div class="fixed inset-x-0 bottom-0 w-full">
    <div class="m-auto px-6 py-6 text-center">
        <p class="mb-12">Drag all the cards below into groups that makes sense to you.</p>
        <p class="mb-12 hidden">Drag all the cards below into the groups above that makes sense to you.</p>
        <svg class="mb-12 m-auto h-12 w-12 text-gray-500 lookhere" fill="currentColor" viewBox="0 0 24 24" stroke="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 7.70711C4.90237 7.31658 4.90237 6.68342 5.29289 6.29289L9.29289 2.29289C9.68342 1.90237 10.3166 1.90237 10.7071 2.29289L14.7071 6.29289C15.0976 6.68342 15.0976 7.31658 14.7071 7.70711C14.3166 8.09763 13.6834 8.09763 13.2929 7.70711L11 5.41421L11 17C11 17.5523 10.5523 18 10 18C9.44772 18 9 17.5523 9 17L9 5.41421L6.70711 7.70711C6.31658 8.09763 5.68342 8.09763 5.29289 7.70711Z"/>
        </svg>
    </div>
    <div class="flex overflow-x-auto bg-gray-200 px-6 pt-6 pb-4 sm:px-6 sm:pt-12 sm:pb-10">
        <div class="flex-shrink-0 w-64 mr-2">
            <div class="bg-white overflow-hidden shadow rounded-md p-2 mb-2 cursor-move">
                <div class="flex-1 min-w-0">
                    <span class="px-2 py-1 block w-full text-sm font-medium leading-5 text-gray-700">
                        Business Checking
                    </span>
                </div>
            </div>
        </div>
        <div class="flex-shrink-0 w-64 mr-2">
            <div class="bg-white overflow-hidden shadow rounded-md p-2 mb-2 cursor-move">
                <div class="flex-1 min-w-0">
                    <span class="px-2 py-1 block w-full text-sm font-medium leading-5 text-gray-700">
                        Personal Checking
                    </span>
                    <span class="px-2 py-1 block w-full text-sm font-regular leading-5 text-gray-700">
                        Example with a description that is kind of long.
                    </span>
                </div>
            </div>
        </div>
        <div class="flex-shrink-0 w-64 mr-2">
            <div class="bg-white overflow-hidden shadow rounded-md p-2 mb-2 cursor-move">
                <div class="flex-1 min-w-0">
                    <span class="px-2 py-1 block w-full text-sm font-medium leading-5 text-gray-700">
                        Business Savings
                    </span>
                </div>
            </div>
        </div>
        <div class="flex-shrink-0 w-64 mr-2">
            <div class="bg-white overflow-hidden shadow rounded-md p-2 mb-2 cursor-move">
                <div class="flex-1 min-w-0">
                    <span class="px-2 py-1 block w-full text-sm font-medium leading-5 text-gray-700">
                        Personal Savings
                    </span>
                </div>
            </div>
        </div>
        <div class="flex-shrink-0 w-64 mr-2">
            <div class="bg-white overflow-hidden shadow rounded-md p-2 mb-2 cursor-move">
                <div class="flex-1 min-w-0">
                    <span class="px-2 py-1 block w-full text-sm font-medium leading-5 text-gray-700">
                        CDs
                    </span>
                </div>
            </div>
        </div>
        <div class="flex-shrink-0 w-64 mr-2">
            <div class="bg-white overflow-hidden shadow rounded-md p-2 mb-2 cursor-move">
                <div class="flex-1 min-w-0">
                    <span class="px-2 py-1 block w-full text-sm font-medium leading-5 text-gray-700">
                        Personal Credit Cards
                    </span>
                </div>
            </div>
        </div>
        <div class="flex-shrink-0 w-64 mr-2">
            <div class="bg-white overflow-hidden shadow rounded-md p-2 mb-2 cursor-move">
                <div class="flex-1 min-w-0">
                    <span class="px-2 py-1 block w-full text-sm font-medium leading-5 text-gray-700">
                        Business Credit Cards
                    </span>
                </div>
            </div>
        </div>
        <div class="flex-shrink-0 w-64 mr-2">
            <div class="bg-white overflow-hidden shadow rounded-md p-2 mb-2 cursor-move">
                <div class="flex-1 min-w-0">
                    <span class="px-2 py-1 block w-full text-sm font-medium leading-5 text-gray-700">
                        Home Loans
                    </span>
                </div>
            </div>
        </div>
        <div class="flex-shrink-0 w-64 mr-2">
            <div class="bg-white overflow-hidden shadow rounded-md p-2 mb-2 cursor-move">
                <div class="flex-1 min-w-0">
                    <span class="px-2 py-1 block w-full text-sm font-medium leading-5 text-gray-700">
                        Commercial Loans
                    </span>
                </div>
            </div>
        </div>
        <div class="flex-shrink-0 w-64 mr-2">
            <div class="bg-white overflow-hidden shadow rounded-md p-2 mb-2 cursor-move">
                <div class="flex-1 min-w-0">
                    <span class="px-2 py-1 block w-full text-sm font-medium leading-5 text-gray-700">
                        Personal Loans
                    </span>
                </div>
            </div>
        </div>
    </div
</div>