<div class="py-6 border-b">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="md:flex md:items-center md:justify-between">
      <div class="flex-1 min-w-0">
        <h1 class="text-2xl font-bold leading-7 text-gray-900 sm:text-3xl sm:leading-9 sm:truncate">
          Tree Test Name
        </h1>
        <div class="mt-1 flex flex-col sm:mt-0 sm:flex-row sm:flex-wrap">
          <div class="mt-2 mr-6 flex items-center text-sm leading-5 text-gray-500">
            <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"/>
            </svg>
            Created on 03/30/2020
          </div>
        </div>
      </div>
      <div class="mt-4 flex md:mt-0 md:ml-4">
        <span class="inline-flex self-center items-center mr-3 px-3 py-0.5 rounded-full text-sm font-medium leading-5 bg-orange-100 text-orange-800">
          <svg class="-ml-1 mr-1.5 h-2 w-2 text-orange-400" fill="currentColor" viewBox="0 0 8 8">
            <circle cx="4" cy="4" r="3" />
          </svg>
          Draft
        </span>

        <span class="ml-3 shadow-sm rounded-md">
          <button class="save-btn opacity-50 inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-green-500 hover:bg-green-400 focus:outline-none focus:shadow-outline-green focus:border-green-600 transition duration-150 ease-in-out">
            <svg class="-ml-1 mr-2 h-5 w-5 text-white" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M10 18C14.4183 18 18 14.4183 18 10C18 5.58172 14.4183 2 10 2C5.58172 2 2 5.58172 2 10C2 14.4183 5.58172 18 10 18ZM13.7071 8.70711C14.0976 8.31658 14.0976 7.68342 13.7071 7.29289C13.3166 6.90237 12.6834 6.90237 12.2929 7.29289L9 10.5858L7.70711 9.29289C7.31658 8.90237 6.68342 8.90237 6.29289 9.29289C5.90237 9.68342 5.90237 10.3166 6.29289 10.7071L8.29289 12.7071C8.68342 13.0976 9.31658 13.0976 9.70711 12.7071L13.7071 8.70711Z"/>
            </svg>
            Save
          </button>
        </span>
      </div>
    </div>
  </div>
</div>
<main class="py-6">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex flex-wrap">
      <div class="w-full md:w-1/3 xl:w-2/5 md:pr-16 mb-6">
        <div class="bg-white shadow sm:rounded-lg text-center mb-6">
          <div class="px-4 py-5 sm:p-6">
            <h3 class="text-lg leading-6 font-medium text-gray-900">
              Your tree test has been created!
            </h3>

            <p class="text-sm text-center py-2 mb-4">Ready to publish? Just hit the button below.</p>

            <button class="block w-full text-center px-6 py-3 rounded-md shadow-sm cursor-pointer border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-150">
              Publish
            </button>
          </div>
        </div>
        <div class="bg-gray-200 overflow-hidden rounded-lg mb-6 text-center">
          <div class="px-4 py-5 sm:p-6">
            <p class="text-sm">
              Need to <a href="#" class="text-red-700 underline">delete</a> this test?
            </p>
          </div>
        </div>
      </div>
      <div class="w-full md:w-2/3 xl:w-3/5">
        <div class="bg-indigo-100 sm:rounded-lg mb-6">
          <div class="px-4 py-5 sm:p-6">
            <h3 class="text-lg leading-6 font-medium text-gray-900">
              Participant Preview
            </h3>
            <div class="mt-2 sm:flex sm:items-start sm:justify-between">
              <div class="max-w-xl text-sm leading-5 text-gray-500">
                <p>
                  Test drive your card sort exactly as your participants will experience it.
                </p>
              </div>
              <div class="mt-5 sm:mt-0 sm:ml-6 sm:flex-shrink-0 sm:flex sm:items-center">
                <span class="shadow-sm rounded-md">
                  <a href="/treetest_participants" target="_blank" class="preview-btn inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:text-gray-800 active:bg-gray-50 transition ease-in-out duration-150">
                    <svg class="-ml-1 mr-2 h-5 w-5 text-gray-700" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 12C11.1046 12 12 11.1046 12 10C12 8.89543 11.1046 8 10 8C8.89544 8 8.00001 8.89543 8.00001 10C8.00001 11.1046 8.89544 12 10 12Z"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M0.457764 10C1.73202 5.94291 5.52232 3 9.99997 3C14.4776 3 18.2679 5.94288 19.5422 9.99996C18.2679 14.0571 14.4776 17 9.99995 17C5.52232 17 1.73204 14.0571 0.457764 10ZM14 10C14 12.2091 12.2091 14 10 14C7.79087 14 6.00001 12.2091 6.00001 10C6.00001 7.79086 7.79087 6 10 6C12.2091 6 14 7.79086 14 10Z"/>
                    </svg>
                    Preview
                  </a>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div x-data="{ tab: 'settings' }">
          <div class="mb-6">
            <div class="block">
              <div class="border-b border-gray-200 text-gray-500">
                <nav class="-mb-px flex">
                  <button 
                    x-on:click="tab = 'settings'"
                    x-bind:class="{ 'border-indigo-500 text-indigo-600 focus:outline-none focus:text-indigo-800 focus:border-indigo-700': tab === 'settings' }"
                    class="w-1/3 py-4 px-1 text-center border-b-2 border-transparent font-medium text-sm leading-5">
                    Settings
                  </button>
                  <button 
                    x-on:click="tab = 'tree'"
                    x-bind:class="{ 'border-indigo-500 text-indigo-600 focus:outline-none focus:text-indigo-800 focus:border-indigo-700': tab === 'tree' }"
                    class="w-1/3 py-4 px-1 text-center border-b-2 border-transparent font-medium text-sm leading-5">
                    Tree
                  </button>
                  <button 
                    x-on:click="tab = 'tasks'"
                    x-bind:class="{ 'border-indigo-500 text-indigo-600 focus:outline-none focus:text-indigo-800 focus:border-indigo-700': tab === 'tasks' }"
                    class="w-1/3 py-4 px-1 text-center border-b-2 border-transparent font-medium text-sm leading-5">
                    Tasks
                  </button>
                </nav>
              </div>
            </div>
          </div>
          <div x-show="tab === 'settings'">
            <form>
              <div class="grid grid-cols-1 row-gap-6 col-gap-4 sm:grid-cols-6">
                <div class="sm:col-span-4">
                  <label for="name" class="block text-sm font-medium leading-5 text-gray-700">Name</label>
                  <div class="mt-1 relative rounded-md shadow-sm">
                    <input id="name" class="form-input block w-full sm:text-sm sm:leading-5" placeholder="Add a descriptive name for your tree test..." />
                  </div>
                </div>
                <div class="sm:col-span-4">
                  <label for="logo" class="block text-sm leading-5 font-medium text-gray-700">
                    Logo
                  </label>
                  <div class="mt-2 flex items-center">
                    <span class="rounded-md shadow-sm">
                      <button type="button" class="py-2 px-3 border border-gray-300 rounded-md text-sm leading-4 font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition duration-150 ease-in-out">
                        Choose File
                      </button>
                    </span>
                  </div>
                  <p class="mt-2 text-sm text-gray-500">Upload a custom logo for this tree test</p>
                </div>
                <div class="sm:col-span-4">
                  <label for="instructions" class="block text-sm font-medium leading-5 text-gray-700">
                    Participant Instructions
                  </label>
                  <div class="mt-1 rounded-md shadow-sm">
                    <textarea id="instructions" rows="3" class="form-textarea block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5">
Thank you for agreeing to help us. This shouldn't take more than 5 minutes!
                    
Your participation will help us make sure our website is easy to navigate.
                    </textarea>
                  </div>
                  <p class="mt-2 text-sm text-gray-500">Greet your tree test participants with a custom introduction</p>
                </div>
                <div class="sm:col-span-4">
                  <label for="thanks" class="block text-sm font-medium leading-5 text-gray-700">
                    Thank You Message
                  </label>
                  <div class="mt-1 rounded-md shadow-sm">
                    <textarea id="thanks" rows="3" class="form-textarea block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5">
Thanks for taking the time to help us.

Your contribution is essential in our journey to deliver improvements.
                    </textarea>
                  </div>
                  <p class="mt-2 text-sm text-gray-500">Custom thank you message to show participants upon completion</p>
                </div>
              </div>
            </form>
          </div>
          <div x-show="tab === 'tree'">
            <div class="mb-6 flex items-center">
              <span x-data="{ value: false, toggle() { this.value = !this.value } }" :class="{ 'bg-gray-200': !value, 'bg-indigo-600': value }" class="relative inline-block flex-no-shrink h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:shadow-outline" role="checkbox" tabindex="0" @click="toggle()" @keydown.space.prevent="toggle()" :aria-checked="value.toString()">
                <span aria-hidden="true" :class="{ 'translate-x-5': value, 'translate-x-0': !value }" class="relative inline-block h-5 w-5 rounded-full bg-white shadow transform transition ease-in-out duration-200">
                  <span :class="{ 'opacity-0 ease-out duration-100': value, 'opacity-100 ease-in duration-200': !value }" class="absolute inset-0 h-full w-full flex items-center justify-center transition-opacity">
                    <svg class="h-3 w-3 text-gray-400" fill="none" viewBox="0 0 12 12">
                      <path d="M4 8l2-2m0 0l2-2M6 6L4 4m2 2l2 2" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                  </span>
                  <span :class="{ 'opacity-100 ease-in duration-200': value, 'opacity-0 ease-out duration-100': !value }" class="absolute inset-0 h-full w-full flex items-center justify-center transition-opacity">
                    <svg class="h-3 w-3 text-indigo-600" fill="currentColor" viewBox="0 0 12 12">
                      <path d="M3.707 5.293a1 1 0 00-1.414 1.414l1.414-1.414zM5 8l-.707.707a1 1 0 001.414 0L5 8zm4.707-3.293a1 1 0 00-1.414-1.414l1.414 1.414zm-7.414 2l2 2 1.414-1.414-2-2-1.414 1.414zm3.414 2l4-4-1.414-1.414-4 4 1.414 1.414z" />
                    </svg>
                  </span>
                </span>
              </span>
              <label for="randomize" class="block text-sm font-medium leading-5 text-gray-700 ml-2">
                Randomize tree order for participants
              </label>
            </div>
            <div class="flex items-center justify-between bg-white overflow-hidden shadow rounded-md p-1 mb-2">
              <div class="flex-1 min-w-0">
                <div class="rounded-md shadow-sm">
                  <input class="form-input px-2 py-1 block w-full transition duration-150 ease-in-out text-sm font-medium leading-5 text-gray-700" placeholder="Home" />
                </div>
              </div>
              <div class="ml-1">
                <span class="inline-flex rounded-md shadow-sm">
                  <button type="button" class="inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs leading-4 font-medium rounded text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-150">
                    +
                  </button>
                </span>
              </div>
            </div>
            <div class="flex items-center justify-between bg-white overflow-hidden shadow rounded-md p-1 mb-2 ml-6">
              <div class="mr-1">
                <svg class="h-6 w-6 text-gray-700" fill="currentColor" viewBox="0 0 24 24" stroke="none">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M10 3C10.2652 3 10.5196 3.10536 10.7071 3.29289L13.7071 6.29289C14.0976 6.68342 14.0976 7.31658 13.7071 7.70711C13.3166 8.09763 12.6834 8.09763 12.2929 7.70711L10 5.41421L7.70711 7.70711C7.31658 8.09763 6.68342 8.09763 6.29289 7.70711C5.90237 7.31658 5.90237 6.68342 6.29289 6.29289L9.29289 3.29289C9.48043 3.10536 9.73478 3 10 3ZM6.29289 12.2929C6.68342 11.9024 7.31658 11.9024 7.70711 12.2929L10 14.5858L12.2929 12.2929C12.6834 11.9024 13.3166 11.9024 13.7071 12.2929C14.0976 12.6834 14.0976 13.3166 13.7071 13.7071L10.7071 16.7071C10.3166 17.0976 9.68342 17.0976 9.29289 16.7071L6.29289 13.7071C5.90237 13.3166 5.90237 12.6834 6.29289 12.2929Z"/>
                </svg>
              </div>
              <div class="flex-1 min-w-0">
                <div class="rounded-md shadow-sm">
                  <input class="form-input px-2 py-1 block w-full transition duration-150 ease-in-out text-sm font-medium leading-5 text-gray-700" placeholder="Child" />
                </div>
              </div>
              <div class="ml-1">
                <span class="inline-flex rounded-md shadow-sm">
                  <button type="button" class="inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs leading-4 font-medium rounded text-red-700 bg-red-100 hover:bg-red-50 focus:outline-none focus:border-red-300 focus:shadow-outline-red active:bg-red-200 transition ease-in-out duration-150">
                    -
                  </button>
                </span>
                <span class="inline-flex rounded-md shadow-sm">
                  <button type="button" class="inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs leading-4 font-medium rounded text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-150">
                    +
                  </button>
                </span>
              </div>
            </div>
            <div class="flex items-center justify-between bg-white overflow-hidden shadow rounded-md p-1 mb-2 ml-12">
              <div class="mr-1">
                <svg class="h-6 w-6 text-gray-700" fill="currentColor" viewBox="0 0 24 24" stroke="none">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M10 3C10.2652 3 10.5196 3.10536 10.7071 3.29289L13.7071 6.29289C14.0976 6.68342 14.0976 7.31658 13.7071 7.70711C13.3166 8.09763 12.6834 8.09763 12.2929 7.70711L10 5.41421L7.70711 7.70711C7.31658 8.09763 6.68342 8.09763 6.29289 7.70711C5.90237 7.31658 5.90237 6.68342 6.29289 6.29289L9.29289 3.29289C9.48043 3.10536 9.73478 3 10 3ZM6.29289 12.2929C6.68342 11.9024 7.31658 11.9024 7.70711 12.2929L10 14.5858L12.2929 12.2929C12.6834 11.9024 13.3166 11.9024 13.7071 12.2929C14.0976 12.6834 14.0976 13.3166 13.7071 13.7071L10.7071 16.7071C10.3166 17.0976 9.68342 17.0976 9.29289 16.7071L6.29289 13.7071C5.90237 13.3166 5.90237 12.6834 6.29289 12.2929Z"/>
                </svg>
              </div>
              <div class="flex-1 min-w-0">
                <div class="rounded-md shadow-sm">
                  <input class="form-input px-2 py-1 block w-full transition duration-150 ease-in-out text-sm font-medium leading-5 text-gray-700" placeholder="Child of Child" />
                </div>
              </div>
              <div class="ml-1">
                <span class="inline-flex rounded-md shadow-sm">
                  <button type="button" class="inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs leading-4 font-medium rounded text-red-700 bg-red-100 hover:bg-red-50 focus:outline-none focus:border-red-300 focus:shadow-outline-red active:bg-red-200 transition ease-in-out duration-150">
                    -
                  </button>
                </span>
                <span class="inline-flex rounded-md shadow-sm">
                  <button type="button" class="inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs leading-4 font-medium rounded text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-150">
                    +
                  </button>
                </span>
              </div>
            </div>
          </div>
          <div x-show="tab === 'tasks'">
            <div class="mb-3 flex items-center">
              <span x-data="{ value: false, toggle() { this.value = !this.value } }" :class="{ 'bg-gray-200': !value, 'bg-indigo-600': value }" class="relative inline-block flex-no-shrink h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:shadow-outline" role="checkbox" tabindex="0" @click="toggle()" @keydown.space.prevent="toggle()" :aria-checked="value.toString()">
                <span aria-hidden="true" :class="{ 'translate-x-5': value, 'translate-x-0': !value }" class="relative inline-block h-5 w-5 rounded-full bg-white shadow transform transition ease-in-out duration-200">
                  <span :class="{ 'opacity-0 ease-out duration-100': value, 'opacity-100 ease-in duration-200': !value }" class="absolute inset-0 h-full w-full flex items-center justify-center transition-opacity">
                    <svg class="h-3 w-3 text-gray-400" fill="none" viewBox="0 0 12 12">
                      <path d="M4 8l2-2m0 0l2-2M6 6L4 4m2 2l2 2" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                  </span>
                  <span :class="{ 'opacity-100 ease-in duration-200': value, 'opacity-0 ease-out duration-100': !value }" class="absolute inset-0 h-full w-full flex items-center justify-center transition-opacity">
                    <svg class="h-3 w-3 text-indigo-600" fill="currentColor" viewBox="0 0 12 12">
                      <path d="M3.707 5.293a1 1 0 00-1.414 1.414l1.414-1.414zM5 8l-.707.707a1 1 0 001.414 0L5 8zm4.707-3.293a1 1 0 00-1.414-1.414l1.414 1.414zm-7.414 2l2 2 1.414-1.414-2-2-1.414 1.414zm3.414 2l4-4-1.414-1.414-4 4 1.414 1.414z" />
                    </svg>
                  </span>
                </span>
              </span>
              <label for="randomize" class="block text-sm font-medium leading-5 text-gray-700 ml-2">
                Randomize task order for participants
              </label>
            </div>
            <div class="mb-6 flex items-center">
              <span x-data="{ value: false, toggle() { this.value = !this.value } }" :class="{ 'bg-gray-200': !value, 'bg-indigo-600': value }" class="relative inline-block flex-no-shrink h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:shadow-outline" role="checkbox" tabindex="0" @click="toggle()" @keydown.space.prevent="toggle()" :aria-checked="value.toString()">
                <span aria-hidden="true" :class="{ 'translate-x-5': value, 'translate-x-0': !value }" class="relative inline-block h-5 w-5 rounded-full bg-white shadow transform transition ease-in-out duration-200">
                  <span :class="{ 'opacity-0 ease-out duration-100': value, 'opacity-100 ease-in duration-200': !value }" class="absolute inset-0 h-full w-full flex items-center justify-center transition-opacity">
                    <svg class="h-3 w-3 text-gray-400" fill="none" viewBox="0 0 12 12">
                      <path d="M4 8l2-2m0 0l2-2M6 6L4 4m2 2l2 2" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                  </span>
                  <span :class="{ 'opacity-100 ease-in duration-200': value, 'opacity-0 ease-out duration-100': !value }" class="absolute inset-0 h-full w-full flex items-center justify-center transition-opacity">
                    <svg class="h-3 w-3 text-indigo-600" fill="currentColor" viewBox="0 0 12 12">
                      <path d="M3.707 5.293a1 1 0 00-1.414 1.414l1.414-1.414zM5 8l-.707.707a1 1 0 001.414 0L5 8zm4.707-3.293a1 1 0 00-1.414-1.414l1.414 1.414zm-7.414 2l2 2 1.414-1.414-2-2-1.414 1.414zm3.414 2l4-4-1.414-1.414-4 4 1.414 1.414z" />
                    </svg>
                  </span>
                </span>
              </span>
              <label for="randomize" class="block text-sm font-medium leading-5 text-gray-700 ml-2">
                Allow participants to skip tasks if they get stuck
              </label>
            </div>
            <div class="bg-white overflow-hidden shadow rounded-lg mb-6">
              <div class="border-b border-gray-200 px-2 py-3 sm:px-4">
                <div class="flex items-center justify-between">
                  <span>Task 1</span>
                  <span class="inline-flex rounded-md shadow-sm">
                    <button type="button" class="inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs leading-4 font-medium rounded text-red-700 bg-red-100 hover:bg-red-50 focus:outline-none focus:border-red-300 focus:shadow-outline-red active:bg-red-200 transition ease-in-out duration-150">
                      -
                    </button>
                  </span>
                </div>
              </div>
              <div class="px-4 py-5 sm:p-6">
                <div class="flex rounded-md shadow-sm mb-3">
                  <textarea rows="3" class="form-textarea block w-full h-20 transition duration-150 ease-in-out sm:text-sm sm:leading-5">
    Task instructions (e.g. "Imagine that you want to update your credit card details. Where would you find that?")
                  </textarea>
                </div>

                <div x-data="{selected:null}">
                  <div class="flex items-center justify-between">
                    <span class="inline-flex self-start rounded-md shadow-sm mr-2" x-show="selected != 0">
                      <button @click="selected !== 0 ? selected = 0 : selected = null" type="button" class="inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs leading-4 font-medium rounded text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-150">
                        Change
                      </button>
                    </span>
                    <div class="flex">
                      <span class="inline-flex rounded-md shadow-sm mr-2" x-show="selected == 0">
                        <a class="cursor-pointer inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs leading-4 font-medium rounded-md text-white bg-green-500 hover:bg-green-400 focus:outline-none focus:shadow-outline-green focus:border-green-600 transition duration-150 ease-in-out">
                          <svg class="-ml-1 mr-2 h-4 w-4 text-white" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M10 18C14.4183 18 18 14.4183 18 10C18 5.58172 14.4183 2 10 2C5.58172 2 2 5.58172 2 10C2 14.4183 5.58172 18 10 18ZM13.7071 8.70711C14.0976 8.31658 14.0976 7.68342 13.7071 7.29289C13.3166 6.90237 12.6834 6.90237 12.2929 7.29289L9 10.5858L7.70711 9.29289C7.31658 8.90237 6.68342 8.90237 6.29289 9.29289C5.90237 9.68342 5.90237 10.3166 6.29289 10.7071L8.29289 12.7071C8.68342 13.0976 9.31658 13.0976 9.70711 12.7071L13.7071 8.70711Z"/>
                          </svg>
                          Save
                        </a>
                      </span>
                      <span class="inline-flex rounded-md shadow-sm mr-2" x-show="selected == 0">
                        <button @click="selected !== 0 ? selected = 0 : selected = null" type="button" class="inline-flex items-center px-2.5 py-1.5 border border-gray-300 text-xs leading-4 font-medium rounded text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:text-gray-800 active:bg-gray-50 transition ease-in-out duration-150">
                          Cancel
                        </button>
                      </span>
                    </div>
                    <div class="flex flex-wrap">
                      <div class="w-full bg-gray-100 overflow-x-auto rounded-md h-8 px-2 py-1 mb-2" x-show="selected != 0">
                        <span class="ml-2 block text-sm leading-5 text-gray-700">
                          <ul class="flex flex-no-wrap">
                            <li class="flex-none">
                              Home
                            </li>
                            <span class="mx-2">
                              &rarr;
                            </span>
                            <li class="flex-none">
                              Example Category 1
                            </li>
                            <span class="mx-2">
                              &rarr;
                            </span>
                            <li class="flex-none text-green-500 font-bold">
                              Example Child A
                            </li>
                          </ul>
                        </span>
                      </div>
                      <div class="w-full bg-gray-100 overflow-x-auto rounded-md h-8 px-2 py-1" x-show="selected != 0">
                        <span class="ml-2 block text-sm leading-5 text-gray-700">
                          <ul class="flex flex-no-wrap">
                            <li class="flex-none">
                              Home
                            </li>
                            <span class="mx-2">
                              &rarr;
                            </span>
                            <li class="flex-none">
                              Example Category 2
                            </li>
                            <span class="mx-2">
                              &rarr;
                            </span>
                            <li class="flex-none text-green-500 font-bold">
                              Example Child B
                            </li>
                          </ul>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div x-show="selected == 0" class="mt-6">
                    <div class="flex items-center justify-between bg-gray-100 overflow-hidden rounded-md h-8 px-2 py-1 mb-2">
                      <span class="ml-2 block text-sm leading-5 text-gray-700">
                        Home
                      </span>
                    </div>
                    <div class="flex items-center justify-between bg-gray-100 overflow-hidden rounded-md h-8 px-2 py-1 mb-2 ml-6">
                      <span class="ml-2 block text-sm leading-5 text-gray-700">
                        Example Category 1
                      </span>
                    </div>
                    <div class="flex items-center justify-between bg-white overflow-hidden shadow rounded-md h-8 px-2 py-1 mb-2 ml-12">
                      <div class="flex items-center">
                        <input type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out" checked />
                        <label class="ml-2 block text-sm leading-5 text-gray-700 font-bold">
                          Example Child A
                        </label>
                      </div>
                    </div>
                    <div class="flex items-center justify-between bg-gray-100 overflow-hidden rounded-md h-8 px-2 py-1 mb-2 ml-6">
                      <span class="ml-2 block text-sm leading-5 text-gray-700">
                        Example Category 2
                      </span>
                    </div>
                    <div class="flex items-center justify-between bg-white overflow-hidden shadow rounded-md h-8 px-2 py-1 mb-2 ml-12">
                      <div class="flex items-center">
                        <input type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out" />
                        <label class="ml-2 block text-sm leading-5 text-gray-700 font-bold">
                          Example Child A
                        </label>
                      </div>
                    </div>
                    <div class="flex items-center justify-between bg-white overflow-hidden shadow rounded-md h-8 px-2 py-1 mb-2 ml-12">
                      <div class="flex items-center">
                        <input type="checkbox" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out" checked />
                        <label class="ml-2 block text-sm leading-5 text-gray-700 font-bold">
                          Example Child B
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <span class="shadow-sm rounded-md">
              <button class="inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:text-gray-800 active:bg-gray-50 transition ease-in-out duration-150">
                <svg class="-ml-1 mr-2 h-5 w-5 text-gray-500" fill="currentColor" viewBox="0 0 20 20">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M10 18C14.4183 18 18 14.4183 18 10C18 5.58172 14.4183 2 10 2C5.58172 2 2 5.58172 2 10C2 14.4183 5.58172 18 10 18ZM11 7C11 6.44772 10.5523 6 10 6C9.44772 6 9 6.44772 9 7V9H7C6.44772 9 6 9.44771 6 10C6 10.5523 6.44772 11 7 11H9V13C9 13.5523 9.44772 14 10 14C10.5523 14 11 13.5523 11 13V11H13C13.5523 11 14 10.5523 14 10C14 9.44772 13.5523 9 13 9H11V7Z" />
                </svg>
                Add Task
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
