/* Application.css is based off the ITCSS methodology by Harry Roberts. */
/* It starts with low-specifity selectors to high-specifity selectors. */
/* The naming convention used is BEM. */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://rsms.me/inter/inter.css');

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.container-ghost-class {
  border-width: 4px;
  border-style: dashed;
  border-radius: 0.5rem;
  border-color: #d2d6dc;
  margin-bottom: 1rem;  
  width: 100%; 
}
.container-ghost-class * {
  opacity: 0;
}
.groups-ghost-class {
  height: 0px;
  width: 0px;
}
.groups-ghost-class * {
  opacity: 0;
}
.card-draggable-ghost-class {
  border-width: 4px;
  border-style: dashed;
  border-radius: 0.5rem;
  border-color: #d2d6dc;  
  margin-bottom: 8px;
}
.card-draggable-ghost-class * {
  opacity: 0;
}
.draggable-new-group {
  border-width: 4px;
  border-style: dashed;
  border-radius: 0.5rem;
  border-color: #d2d6dc; 
  position: relative;
  bottom: 16px;
  left: 24px;
  width: 256px;
}
.draggable-new-group * {
  opacity: 0;
}
.draggable-new-group2 {
  border-width: 4px;
  border-style: dashed;
  border-radius: 0.5rem;
  border-color: #d2d6dc; 
  width: 256px;
  margin-right: 8px;
  margin-bottom: -8px;
}
.draggable-new-group2 * {
  opacity: 0;
}
.draggable-ghost-class {
  border-width: 4px;
  border-style: dashed;
  border-radius: 0.5rem;
  border-color: #d2d6dc;
  width: 100%;
  margin-bottom: 1rem; 
}
.draggable-ghost-class * {
  opacity: 0;
}
/* sm */
@media (min-width: 640px) { 
  .draggable-ghost-class {
    width: 50%;
  }
  .draggable-new-group { 
    bottom: 40px;
  }  
}
/* md */
@media (min-width: 768px) {
  .draggable-ghost-class {
    width: 33.333333%;
  }  
}
/* lg */
@media (min-width: 1024px) { 
  .draggable-ghost-class {
    width: 25%;
  }   
}
/* xl */
@media (min-width: 1280px) { 
  .draggable-ghost-class {
    width: 20%;
  }   
}
/* CSS for doing transitions with Vue */
.overlay-enter-active {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 300ms;
}
.overlay-enter { 
  opacity: 0;
}
.overlay-enter-to {
  opacity: 1;
}
.overlay-leave-active {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  transition-duration: 200ms;
}
.overlay-leave {
  opacity: 1;
}
.overlay-leave-to {
  opacity: 0;
}
.modal-enter-active {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 300ms;
}
.modal-enter {
  opacity: 0;
  --transform-translate-y: 1rem;
}
@media (min-width: 640px) {
  .modal-enter {
    --transform-translate-y: 0;
    --transform-scale-x: .95;
    --transform-scale-y: .95;
  }
  .modal-enter-to {
    --transform-scale-x: 1;
    --transform-scale-y: 1;
  }
  .modal-leave {
    --transform-scale-x: 1;
    --transform-scale-y: 1;
  }  
  .modal-leave-to {
    --transform-translate-y: 0;
    --transform-scale-x: .95;
    --transform-scale-y: .95;
  }
}
.modal-enter-to {
  opacity: 1;
  --transform-translate-y: 0;
}
.modal-leave-active {
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  transition-duration: 200ms;
}
.modal-leave {
  opacity: 1;
  --transform-translate-y: 0;
}
.modal-leave-to {
  opacity: 0;
  --transform-translate-y: 1rem;
}
.modal-component-leave-active {
  transition-duration: 200ms;
}
.group-enter-active, .group-leave-active {
  transition: all 0.5s;
}
.group-enter, .group-leave-to {
  opacity: 0;
}
.group-enter-to, .group-leave {
  opacity: 1;
}
.slide-in-enter {
  transform: translateX(100%);
}
.slide-in-enter-active {
  transition: all 0.5s;
}
.slide-in-enter-to {
  transform: translateX(0%);
}