:root {
  --brandColor: theme("colors.indigo.100");
  --brandColorDark: theme("colors.blue.700");
  --secondaryBrandColor: theme("colors.green.600");
  --secondaryBrandColorDark: theme("colors.green.700");
  --textColor: theme("colors.gray.800");
  --textColorInverted: theme("colors.white");
}
