<p>Hi <%= @user.name %>! </p>

<p>Nice, your first cardtest, <strong><%= @cardtest.name %></strong> has been created</p>

<p>Once you're happy with your setup you can preview your test and publish it.</p>

<p>Thanks,<br/>
UXOps Support
</p>
