<p>Hi <%= @user.name %>! </p>

<p>I wanted to thank you for trying UXOps, I really hope you find it useful!</p>

<p>If you have any suggestions or run into issues I'd love to hear about them, just <a href="mailto:sean@uxops.com">drop me an email</a>.</p>

<p>Thanks,<br/>
Sean from UXOps
</p>
