<p>Hi <%= @user.name %>! </p>

<p>I wanted to thank you for trying Userdrive, I really hope you find it useful!</p>

<p>If you have any suggestions or run into issues I'd love to hear about them, just <a href="mailto:kaolti@gmail.com">drop me an email</a>.</p>

<p>Thanks,<br/>
Zsolt<br/>
- Maker of Userdrive</p>
