<% if flash[:notice] %>
  <div 
    x-data="{ show: false}" 
    x-show="show" 
    x-init="() => { show = true; setTimeout(function(){ show = false }, 5000) }" 
    class="fixed inset-x-0 bottom-0"
    x-transition:enter="transition ease-linear duration-500"
    x-transition:enter-start="transform translate-y-full"
    x-transition:enter-end="transform -translate-y-0"
    x-transition:leave="transition ease-linear duration-500"
    x-transition:leave-start="transform -translate-y-0"
    x-transition:leave-end="transform translate-y-full"  
  >
    <div class="relative bg-black opacity-75">
      <div class="max-w-screen-xl mx-auto py-6 px-3 sm:px-6 lg:px-8">
        <div class="pr-16 sm:text-center sm:px-16">
          <p class="font-medium text-white">
            <span class="md:inline">
              <%= flash[:notice] %>
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>
<% end %>