<%= form_for [@cardtest, @cardtest.results.new], url: ""+@cardtest.auth_token+"/results" do |result| %>

  <div class="form"


      <%= result.hidden_field :name, class: "input", :value => @cardtest.name %>

      <%= result.hidden_field :data, class: "input", :value => "Default" %>


      <% @cardtest.cards.sort_by(&:order).each do |card| %>

      <% end %>

      <%# <%= result.submit class: "btn btn--primary" %>
  </div>
<% end %>
