<%= form_for [@cardtest, @cardtest.results.new], url: ""+@cardtest.auth_token+"/results" do |result| %>

  <div class="form"


      <%= result.hidden_field :name, class: "input", :value => @cardtest.name %>

      <%= result.hidden_field :data, class: "input", :value => "Default" %>


      <% card_order_present = true %>

          <% @cardtest.cards.each do |card| %>
            <% if card.order? %>
            <% card_order_present = false %>
            <% end %>
          <% end %>

          <% if card_order_present == true %>
            <% @cardtest.cards.sort_by(&:order).each do |card| %>

            <% end %>
          <% else %>
            <% @cardtest.cards.each do |card| %>

            <% end %>
          <% end %>



      <%# <%= result.submit class: "btn btn--primary" %>
  </div>
<% end %>
