<div class="pt-16 max-w-xl mx-auto text-center">
  <div class="thanks-icon text-6xl"><i class="fa fa-check" aria-hidden="true"></i></div>
  <h1 class="text-3xl">That's it!</h1>
  <div class="thanks-message mt-8">
    <p><%= Rinku.auto_link(simple_format(@cardtest.outro), mode=:all, link_attr=nil, skip_tags=nil).html_safe %></p>
  </div>
</div>
<div class="text-center bottom-0 pt-8 pb-8 px-4 absolute block w-full bg-white">



    <p class="text-sm text-gray-700 mb-0">Create your own test for more human understanding: <%= link_to "Create card sort", root_path+"?source=tybutton", class:"ml-2 btn-small btn--primary" %></p>
    <div class="w-1/12 border-t m-auto mt-6"></div>
    <p class="text-xs text-gray-500 mt-6">Powered by <%= link_to image_tag(asset_pack_path("media/images/uxops-logo.svg"), size: "76x39", class: "ml-2 inline"), root_path+"?source=tylogo", class: "text-center" %></p>




</div>
