<div class="bg-purple-50">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <div>
      <h1 class="text-4xl leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none sm:tracking-tight lg:text-6xl">Pricing</h1>
      <p class="mt-5 text-xl leading-7 text-gray-500">Start understanding your users better, regardless of your team size or budget.</p>
    </div>
    <div class="mt-8 flex lg:flex-shrink-0 lg:mt-0">
      <div class="inline-flex rounded-md shadow">
        <%= link_to "Create your free account", signup_path, class: "flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-teal-500 hover:bg-teal-400 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
      </div>
    </div>
  </div>
</div>
<div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
  <div class="space-y-4 sm:space-y-0 sm:grid sm:grid-cols-2 sm:gap-6 lg:max-w-4xl lg:mx-auto xl:max-w-none xl:mx-0">
    <div class="border border-gray-200 rounded-lg shadow-sm divide-y divide-gray-200">
      <div class="p-6">
        <h2 class="text-lg leading-6 font-medium text-gray-900">Basic</h2>
        <p class="mt-4 text-sm text-gray-500">Do professional user research studies without limits.</p>
        <p class="mt-8">
          <span class="text-4xl font-extrabold text-gray-900">Free</span>
        </p>
      </div>
      <div class="pt-6 pb-8 px-6">
        <h3 class="text-xs font-medium text-gray-900 tracking-wide uppercase">What's included</h3>
        <ul class="mt-6 space-y-4">
          <li class="flex space-x-3">
            <!-- Heroicon name: check -->
            <svg class="flex-shrink-0 h-5 w-5 text-teal-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="text-sm text-gray-500"><strong>Unlimited</strong> studies</span>
          </li>

          <li class="flex space-x-3">
            <!-- Heroicon name: check -->
            <svg class="flex-shrink-0 h-5 w-5 text-teal-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="text-sm text-gray-500"><strong>Unlimited</strong> participant results per study</span>
          </li>

          <li class="flex space-x-3">
            <!-- Heroicon name: check -->
            <svg class="flex-shrink-0 h-5 w-5 text-teal-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="text-sm text-gray-500">Great participant experience on any device (desktop or mobile)</span>
          </li>

          <li class="flex space-x-3">
            <!-- Heroicon name: check -->
            <svg class="flex-shrink-0 h-5 w-5 text-teal-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="text-sm text-gray-500">Customizable greetings and thank you messages</span>
          </li>

          <li class="flex space-x-3">
            <!-- Heroicon name: check -->
            <svg class="flex-shrink-0 h-5 w-5 text-teal-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="text-sm text-gray-500">Remote or lab, moderated or unmoderated</span>
          </li>

          <li class="flex space-x-3">
            <!-- Heroicon name: check -->
            <svg class="flex-shrink-0 h-5 w-5 text-teal-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="text-sm text-gray-500">Detailed analysis tools to make sense of your results</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="border border-gray-200 rounded-lg shadow-sm divide-y divide-gray-200">
      <div class="p-6">
        <h2 class="text-lg leading-6 font-medium text-gray-900">Pro</h2>
        <p class="mt-4 text-sm text-gray-500">Premium features to supercharge your studies.</p>
        <p class="mt-8">
          <span class="text-4xl font-extrabold text-gray-900">$99</span>
          <span class="text-base font-medium text-gray-500">/year</span>
        </p>
      </div>
      <div class="pt-6 pb-8 px-6">
        <h3 class="text-xs font-medium text-gray-900 tracking-wide uppercase">Everything in Basic, plus...</h3>
        <ul class="mt-6 space-y-4">
          <li class="flex space-x-3">
            <!-- Heroicon name: check -->
            <svg class="flex-shrink-0 h-5 w-5 text-teal-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="text-sm text-gray-500">Custom branding on all your studies and reports</span>
          </li>

          <li class="flex space-x-3">
            <!-- Heroicon name: check -->
            <svg class="flex-shrink-0 h-5 w-5 text-teal-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="text-sm text-gray-500">Card and task randomization</span>
          </li>

          <li class="flex space-x-3">
            <!-- Heroicon name: check -->
            <svg class="flex-shrink-0 h-5 w-5 text-teal-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="text-sm text-gray-500">Advanced report sharing and password protection</span>
          </li>

          <li class="flex space-x-3">
            <!-- Heroicon name: check -->
            <svg class="flex-shrink-0 h-5 w-5 text-teal-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
            <span class="text-sm text-gray-500">Priority email support</span>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
<div class="bg-white">
  <div class="max-w-screen-xl mx-auto pt-12 pb-16 sm:pt-16 sm:pb-20 px-4 sm:px-6 lg:pt-20 lg:pb-28 lg:px-8">
    <h2 class="text-3xl leading-9 font-extrabold text-gray-900 text-center">
      Frequently asked questions
    </h2>
    <div class="mt-6 border-t-2 border-gray-100 pt-10">
      <dl class="md:grid md:grid-cols-2 md:gap-8">
        <div>
          <div>
            <dt class="text-lg leading-6 font-medium text-gray-900">
              Where can I find participants for my study?
            </dt>
            <dd class="mt-2">
              <p class="text-base leading-6 text-gray-500">
                Many researchers recruit their own customers by email or social media, but there are also third-party services like <a href="https://www.testingtime.com/en/">TestingTime</a> and <a href="https://www.respondent.io/marketplace">Respondent</a> that can help you affordably source participants.
              </p>
            </dd>
          </div>
          <div class="mt-12">
            <dt class="text-lg leading-6 font-medium text-gray-900">
              How do participants access my study?
            </dt>
            <dd class="mt-2">
              <p class="text-base leading-6 text-gray-500">
                We provide you with a unique URL to your study that can be shared anywhere and accessed on any device with a browser and internet connection.
              </p>
            </dd>
          </div>
          <div class="mt-12">
            <dt class="text-lg leading-6 font-medium text-gray-900">
              What if I've never conducted a card sort or tree test before?
            </dt>
            <dd class="mt-2">
              <p class="text-base leading-6 text-gray-500">
                Not to worry! We provide contextual tips while you set up your study, and you can easily learn how to analyze your results with our free tutorials.
              </p>
            </dd>
          </div>
        </div>
        <div class="mt-12 md:mt-0">
          <div>
            <dt class="text-lg leading-6 font-medium text-gray-900">
              How do you process payments?
            </dt>
            <dd class="mt-2">
              <p class="text-base leading-6 text-gray-500">
                We use Stripe to securely process payments. Stripe has been audited by a PCI-certified auditor and is certified to PCI Service Provider Level 1. This is the most stringent level of certification available in the payments industry. You can read more details <a href="https://stripe.com/docs/security/stripe">here</a>.
              </p>
            </dd>
          </div>
          <div class="mt-12">
            <dt class="text-lg leading-6 font-medium text-gray-900">
              How is my data secured?
            </dt>
            <dd class="mt-2">
              <p class="text-base leading-6 text-gray-500">
                UXOps is securely hosted with Heroku. Heroku's physical infrastructure is hosted and managed within Amazon’s secure data centers and utilize Amazon Web Service (AWS) technology. Amazon continually manages risk and undergoes recurring assessments to ensure compliance with industry standards. You can read more details <a href="https://www.heroku.com/policy/security">here</a>.
              </p>
            </dd>
          </div>
        </div>
      </dl>
    </div>
  </div>
</div>
<div class="bg-purple-50">
  <div class="max-w-screen-xl mx-auto text-center py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
    <h3 class="text-3xl leading-9 font-extrabold tracking-tight sm:text-4xl text-center mb-8">
      Set up your first study
    </h3>
    <div class="flex justify-center mb-4">
      <div class="inline-flex rounded-md shadow">
        <%= link_to "Create your free account", signup_path, class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-purple-600 hover:bg-purple-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
      </div>
    </div>
  </div>
</div>