<div x-data="{ plan: 'annual' }" class="bg-purple-100">
  <div class="pt-12 sm:pt-16 lg:pt-24">
    <div class="max-w-screen-xl mx-auto text-center px-4 sm:px-6 lg:px-8">
      <div class="max-w-3xl mx-auto lg:max-w-none">
        <h2 class="mb-2 text-sm font-medium uppercase tracking-wider text-purple-600 text-center">
          Pricing
        </h2>
        <p class="text-3xl leading-9 tracking-tight font-extrabold text-gray-900 sm:text-4xl sm:leading-10 text-center">
          Powerful and affordable user research tools
        </p>
        <p class="mt-2 text-xl leading-7 text-gray-500">
          No credit card required. Choose a plan only when you're ready to publish.
        </p>
        <div class="mt-6">
          <span class="relative z-0 inline-flex shadow-sm rounded-md">
            <button 
            @click="plan = 'annual'" 
            type="button" 
            class="relative inline-flex items-center px-4 py-2 rounded-l-md border text-sm leading-5 font-medium transition ease-in-out duration-150" 
            :class="{ 
            'border-transparent text-white bg-purple-600 hover:bg-purple-500 focus:outline-none focus:border-purple-700 focus:shadow-outline-purple active:bg-purple-700': (plan === 'annual'),             
            'border-gray-300 bg-white text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-700': (plan !== 'annual') }">
              Annual
            </button>
            <button 
            @click="plan = 'monthly'" 
            type="button" 
            class="-ml-px relative inline-flex items-center px-4 py-2 rounded-r-md border text-sm leading-5 font-medium transition ease-in-out duration-150" 
            :class="{ 
            'border-transparent text-white bg-purple-600 hover:bg-purple-500 focus:outline-none focus:border-purple-700 focus:shadow-outline-purple active:bg-purple-700': (plan === 'monthly'), 
            'border-gray-300 bg-white text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-700': (plan !== 'monthly') 
            }"
            >
              Monthly
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-8 bg-white pb-16 sm:mt-12 sm:pb-20 lg:pb-28">
    <div class="relative">
      <div class="absolute inset-0 h-1/2 bg-purple-100"></div>
      <div class="relative max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="max-w-lg mx-auto rounded-lg shadow-lg overflow-hidden lg:max-w-none lg:flex">
          <div class="bg-white px-6 py-8 lg:p-12">
            <div x-show="plan === 'annual'">
              <span class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium leading-5 bg-teal-100 text-teal-800">
                Save 20%
              </span>
              <h3 class="mt-2 text-3xl leading-9 font-extrabold text-gray-900">
                Annual Subscription 
              </h3>
              <p class="mt-6 text-base leading-6 text-gray-500">
                Maximum value for ongoing and frequent user research projects. Great for agencies, consultants and enterprise UXR teams.
              </p>
            </div>
            <div x-show="plan === 'monthly'">            
              <h3 class="mt-2 text-3xl leading-9 font-extrabold text-gray-900">
                Monthly Subscription 
              </h3>
              <p class="mt-6 text-base leading-6 text-gray-500">
                Maximum flexibility for occassional or one-time user research projects. Simply pause your subscription between studies and re-start it again when you need it.
              </p>
            </div>            
            <div class="mt-8">
              <div class="flex items-center">
                <h4 class="flex-shrink-0 pr-4 bg-white text-sm leading-5 tracking-wider font-semibold uppercase text-purple-600">
                  What's included
                </h4>
                <div class="flex-1 border-t-2 border-gray-200"></div>
              </div>
              <ul class="mt-8 md:grid md:grid-cols-2 md:gap-4">
                <li class="flex items-start">
                  <div class="flex-shrink-0">
                    <svg class="h-6 w-6 text-teal-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                    </svg>
                  </div>
                  <p class="ml-3 text-base leading-6 text-gray-700">
                    <strong>Unlimited studies</strong>
                  </p>
                </li>
                <li class="flex items-start">
                  <div class="flex-shrink-0">
                    <svg class="h-6 w-6 text-teal-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                    </svg>
                  </div>
                  <p class="ml-3 text-base leading-6 text-gray-700">
                  <strong>Unlimited participants</strong>
                  </p>
                </li>
                <li class="flex items-start">
                  <div class="flex-shrink-0">
                    <svg class="h-6 w-6 text-teal-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                    </svg>
                  </div>
                  <p class="ml-3 text-base leading-6 text-gray-700">
                    Remote or lab, moderated or unmoderated
                  </p>
                </li>
                <li class="flex items-start">
                  <div class="flex-shrink-0">
                    <svg class="h-6 w-6 text-teal-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                    </svg>
                  </div>
                  <p class="ml-3 text-base leading-6 text-gray-700">
                    Custom branding
                  </p>
                </li>
                <li class="flex items-start">
                  <div class="flex-shrink-0">
                    <svg class="h-6 w-6 text-teal-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                    </svg>
                  </div>
                  <p class="ml-3 text-base leading-6 text-gray-700">
                    Detailed reporting and analysis
                  </p>
                </li>
                <li class="flex items-start">
                  <div class="flex-shrink-0">
                    <svg class="h-6 w-6 text-teal-500" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"/>
                    </svg>
                  </div>
                  <p class="ml-3 text-base leading-6 text-gray-700">
                    Great participant experience on any device
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <div class="py-8 px-6 text-center bg-gray-50 lg:flex-shrink-0 lg:flex lg:flex-col lg:justify-center lg:p-12">
            <div x-show="plan === 'annual'">
              <div class="mt-4 flex items-center justify-center text-5xl leading-none font-extrabold text-gray-900">
                <span>
                  $79
                </span>
                <span class="ml-3 text-xl leading-7 font-medium text-gray-500">
                  /mo
                </span>
              </div>
              <p class="mt-4 text-sm leading-5 font-medium text-gray-500">
                (Billed annually at $948)
              </p>
              <div class="mt-6">
                <div class="rounded-md shadow">
                  <%= link_to "Get Started Free", signup_path, class: "flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-teal-500 hover:bg-teal-400 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
                </div>
              </div>
            </div>
            <div x-show="plan === 'monthly'">
              <div class="mt-4 flex items-center justify-center text-5xl leading-none font-extrabold text-gray-900">
                <span>
                  $99
                </span>
                <span class="ml-3 text-xl leading-7 font-medium text-gray-500">
                  /mo
                </span>
              </div>
              <p class="mt-4 text-sm leading-5 font-medium text-gray-500">
                (Billed monthly)
              </p>              
              <div class="mt-6">
                <div class="rounded-md shadow">
                  <%= link_to "Get Started Free", signup_path, class: "flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-teal-500 hover:bg-teal-400 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
                </div>
              </div>
            </div>            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-white">
  <div class="max-w-screen-xl mx-auto pt-12 pb-16 sm:pt-16 sm:pb-20 px-4 sm:px-6 lg:pt-20 lg:pb-28 lg:px-8">
    <h2 class="text-3xl leading-9 font-extrabold text-gray-900 text-center">
      Frequently asked questions
    </h2>
    <div class="mt-6 border-t-2 border-gray-100 pt-10">
      <dl class="md:grid md:grid-cols-2 md:gap-8">
        <div>
          <div>
            <dt class="text-lg leading-6 font-medium text-gray-900">
              Where can I source participants for my study?
            </dt>
            <dd class="mt-2">
              <p class="text-base leading-6 text-gray-500">
                Many researchers recruit participants by email or social media. We recommend User Interviews for moderated studies.
              </p>
            </dd>
          </div>
          <div class="mt-12">
            <dt class="text-lg leading-6 font-medium text-gray-900">
              How do participants access my study?
            </dt>
            <dd class="mt-2">
              <p class="text-base leading-6 text-gray-500">
                We provide you with a unique URL to your study that can be shared anywhere and accessed on any device with a browser and internet connection.
              </p>
            </dd>
          </div>
          <div class="mt-12">
            <dt class="text-lg leading-6 font-medium text-gray-900">
              What if I've never conducted a card sort or tree test before?
            </dt>
            <dd class="mt-2">
              <p class="text-base leading-6 text-gray-500">
                Not to worry! We provide contextual tips while you set up your study, and you can easily learn how to analyze your results with our free tutorials.
              </p>
            </dd>
          </div>
        </div>
        <div class="mt-12 md:mt-0">
          <div>
            <dt class="text-lg leading-6 font-medium text-gray-900">
              How do you process payments?
            </dt>
            <dd class="mt-2">
              <p class="text-base leading-6 text-gray-500">
                We use Stripe to securely process payments. Stripe has been audited by a PCI-certified auditor and is certified to PCI Service Provider Level 1. This is the most stringent level of certification available in the payments industry. You can read more details <a href="https://stripe.com/docs/security/stripe">here</a>.
              </p>
            </dd>
          </div>
          <div class="mt-12">
            <dt class="text-lg leading-6 font-medium text-gray-900">
              How is my data secured?
            </dt>
            <dd class="mt-2">
              <p class="text-base leading-6 text-gray-500">
                UXOps is securely hosted with Heroku. Heroku's physical infrastructure is hosted and managed within Amazon’s secure data centers and utilize Amazon Web Service (AWS) technology. Amazon continually manages risk and undergoes recurring assessments to ensure compliance with industry standards. You can read more details <a href="https://www.heroku.com/policy/security">here</a>.
              </p>
            </dd>
          </div>
        </div>
      </dl>
    </div>
  </div>
</div>
<div class="bg-purple-50">
  <div class="max-w-screen-xl mx-auto text-center py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
    <h3 class="text-3xl leading-9 font-extrabold tracking-tight sm:text-4xl text-center mb-8">
      Set up your first study
    </h3>
    <div class="flex justify-center mb-4">
      <div class="inline-flex rounded-md shadow">
        <%= link_to "Get Started Free", signup_path, class: "inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-purple-600 hover:bg-purple-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" %>
      </div>
    </div>
    <span class="block text-base text-purple-400">No credit card required</span>
  </div>
</div>