<% content_for :page_title, "Terms of Service" %>
<% content_for :page_description, "" %>

<div class="mt-16 max-w-2xl mx-auto">
  <h1 class="text-3xl mb-4">Terms of Service</h1>
  <p class="mb-8 text-lg text-gray-700">Check out the services below to create your own terms of service</p>

  <ul>
    <li>https://termsfeed.com</li>
    <li>https://www.iubenda.com/en/</li>
    <li>https://termly.io</li>
    <li>https://getterms.io</li>
  </ul>
</div>

