<% content_for :page_title, "Terms of Service" %>
<% content_for :page_description, "" %>

<div class="mt-16 max-w-2xl mx-auto">
  <!-- Termly Tracking Code -->

  <div name="termly-embed" data-id="400a928b-a533-43e0-b5c0-204b554112e7" data-type="iframe"></div>
  <script type="text/javascript">(function(d, s, id) {
    var js, tjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://app.termly.io/embed-policy.min.js";
    tjs.parentNode.insertBefore(js, tjs);
  }(document, 'script', 'termly-jssdk'));</script>

</div>
