.field {
  @apply w-full;
  @apply mb-10;
}

.fields-inline {
  @apply flex;
}

.field__helper {
  @apply mb-2;
  @apply text-sm leading-none not-italic text-gray-600;
}

#logo-uploaded {
  max-width:150px;
  @apply my-4;
}

.remove-image {
  @apply text-xs underline;
}

.remove-image-server {
  @apply text-xs underline;
}

.buttons {
  @apply flex items-center;
}



label {
  @apply inline-block mb-2;
  @apply font-medium text-gray-700;
}


.input {
  @apply w-full px-4 py-2;
  @apply text-gray-800 leading-tight;
  @apply bg-white border border-gray-400;
  @apply rounded;
  -webkit-appearance: none;
  @apply appearance-none;

  &:hover,
  &:focus {
    border-color: var(--brandColor);
  }
}


.input:disabled  {
  @apply w-full px-4 py-2;
  @apply text-gray-800 leading-tight;
  @apply bg-gray-200 border border-gray-400;
  @apply rounded;
  -webkit-appearance: none;
  @apply appearance-none;
}

textarea {
  @apply w-full px-4 py-2;
  @apply text-gray-800 leading-tight;
  @apply bg-white border border-gray-400;
  @apply rounded;
  -webkit-appearance: none;
  @apply appearance-none;
  @apply h-40;

  &:hover,
  &:focus {
    border-color: var(--brandColor);
  }
}

textarea:disabled {
  @apply w-full px-4 py-2;
  @apply text-gray-800 leading-tight;
  @apply bg-gray-200 border border-gray-400;
  @apply rounded;
  -webkit-appearance: none;
  @apply appearance-none;
}


.card .input, .item .input, #publish-form .input {
  @apply w-full px-4 py-2;
  @apply text-gray-800 leading-tight;
  @apply bg-gray-200 border-2 border-gray-200;
  @apply rounded;
  -webkit-appearance: none;
  @apply appearance-none;

  &:hover,
  &:focus {
    border-color: var(--brandColor);
  }
}




.column-holder .input-small, .item .input-small, .card .input-small {
  @apply w-full px-2 py-2;
  @apply text-gray-800 leading-tight text-sm;
  @apply bg-gray-200 border-2 border-gray-200;
  @apply rounded;
  -webkit-appearance: none;
  @apply appearance-none;

  &:hover,
  &:focus {
    border-color: var(--brandColor);
  }
}

.field-centered {
  @apply flex items-center;
}

.input-radio,
.input-checkbox {
  -webkit-appearance: none;
  @apply appearance-none;
  @apply inline-block w-4 h-4 mr-2;
  @apply bg-white;
  @apply fill-current text-white;
  @apply border border-gray-300 rounded-full;

  &:checked {
    background-color: var(--brandColor);
    @apply bg-cover bg-center bg-no-repeat;
  }
}

.input-radio {
  @apply border border-gray-300 rounded-full;

  &:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 24 24' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='12' cy='12' r='5'/%3e%3c/svg%3e");
  }
}

.input-checkbox {
  @apply border border-gray-300 rounded;

  &:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg' fill='white'%3e%3cpath d='M13.293 4.293a1 1 0 0 1 0 1.414L7 12a1 1 0 0 1-1.414 0L3.293 9.707a1 1 0 0 1 1.414-1.414l1.586 1.586 5.586-5.586a1 1 0 0 1 1.414 0z'/%3e%3c/svg%3e");
  }
}

.checkbox {
  @apply ml-2;
  @apply lowercase;
  @apply cursor-pointer;
}

.radio-button__input {
  @apply hidden;

  &:checked ~ .radio-button__label {
    @apply text-gray-100;
    @apply bg-blue-600;
  }
}

.radio-button__label {
  @apply block px-4 py-2;
  @apply text-gray-700;
  @apply bg-gray-200;
  @apply cursor-pointer;
  @apply rounded;

  &:hover {
    @apply bg-gray-400;
  }
}
