.nav {
  @apply bg-white;
}

.nav__content {
  @apply flex justify-between items-center;
  @apply mx-auto max-w-5xl p-4;
}

.nav__logo {
  @apply text-sm text-gray-600 font-medium uppercase tracking-wider;

  @screen sm {
    @apply text-base;
  }
}

.nav__items {
  @apply flex flex-col justify-center text-center;

  @media (max-width: theme("screens.sm")) {
    @apply fixed top-0 left-0 w-full h-full pt-12;
    @apply bg-gray-800;
    opacity: 0;
    z-index: 3;
    transform: translateX(-100vw);
    transition: transform 0.3s ease-out, opacity 0.2s ease-out;
  }

  @screen sm {
    @apply flex-row items-center;
  }
}

.nav__items--visible {
  @apply w-full h-full;
  @apply py-16 px-8;
  @apply opacity-100;
  transform: translateX(0);
  transition: transform 0.2s ease-in, opacity 0.3s ease-in;
}

.nav__item {
  @apply mb-8;
  @apply text-base;
  @apply font-bold;

  @screen sm {
    @apply mb-0;
    @apply text-base;
  }
}

.nav__item + .nav__item {
  @screen sm {
    @apply ml-8;
  }
}

.nav__link {
  @apply text-white;

  &:hover {
    @apply text-gray-200;
  }

  @screen sm {
    @apply text-gray-600;

    &:hover {
      @apply text-gray-500;
    }
  }
}

.navigation__toggle {
  @apply relative;
  width: auto;
  @apply text-gray-600;
  z-index: 3;
  transition: transform 0.2s ease-in;
  @apply cursor-pointer;

  &:hover {
    @apply text-gray-500;
  }

  @screen sm {
    display: none;
  }

  &:after,
  &:before {
    content: "";
    position: absolute;
    top: 12px; left: -24px;
    width: 16px; height: 2px;
    background-color: currentColor;
  }

  &:before {
    transform: translateY(-2px);
  }

  &:after {
    transform: translateY(2px);
  }
}

.nav__toggle--toggled {
  @apply text-gray-200;
  transition: transform 0.2s ease-in;

  &:before {
    transform: rotate(-45deg);
  }

  &:after {
    transform: rotate(45deg);
  }
}

.nav__item-announcements {
  @apply inline-flex justify-center items-center w-8 h-8;
  @apply bg-gray-200;
  @apply rounded-full;
  @apply text-gray-600;

  &:hover {
    @apply text-gray-700;
  }
}

.nav__item-announcements--unread {
  @apply relative;
  @apply bg-blue-100;
  @apply text-blue-500;

  &:hover {
    @apply text-blue-600;
    @apply bg-blue-200;
  }

  &:before {
    content: '';
    @apply absolute top-0 right-0 inline-block w-3 h-3 -mt-1 -mr-1;
    @apply bg-red-500;
    @apply border-2 border-red-200;
    @apply rounded-full;
  }
}

.header-nav {
  @apply ml-40;

}

.header-nav .active {
  @apply border-b-2 uppercase relative inline-block items-center mx-4 py-1 mt-2 float-left text-xs font-bold leading-none no-underline tracking-wide text-gray-800;
  color: var(--brandColor);
  border-color: var(--brandColor);
}

.header-nav-item {
  @apply uppercase relative inline-block items-center mx-4 py-1 mt-2 float-left text-xs font-bold leading-none no-underline tracking-wide text-gray-600;
}

.header-nav-item:hover {
  @apply text-gray-800;
}

.header-nav .coming-soon {
  @apply text-xs text-gray-500 cursor-default;
}

.header-nav .coming-soon:hover {
  @apply text-xs text-gray-500;
}

.header-nav .coming-soon .pill{
  font-size:0.6rem;
  @apply ml-2 -mt-1;
}
