.muuri-new-column {
  width:256px !important;
  float:left;
}

.used-column {
  @apply shadow;
}

.name-link {
  @apply text-sm text-indigo-700 underline;
}

.ui-sortable-helper {
  z-index:999999;
}

.group-header {
  @apply rounded-tl rounded-tr;
}

.muuri-handle {
  @apply bg-white py-1 px-2;
}

.column-holder .ui-sortable-placeholder {
  @apply bg-gray-200 m-2 h-10 rounded;
}

.new-column .ui-sortable-placeholder {
  @apply bg-gray-100 m-2 h-10 rounded;
}

.packery-drop-placeholder {
  @apply border-dashed border-gray-700 border-2 rounded;
  z-index:1;
  /* transition position changing */
  -webkit-transition: -webkit-transform 0.2s;
          transition: transform 0.2s;
}


#test-columns {

  height:100vh !important;

}

#test-columns:after {
  content: ' ';
  display: block;
  clear: both;
}

.droparea {
  @apply border-dashed border-gray-400 border-2;
}

.is-dragging {
  z-index:99999;
}
