.muuri-new-column {
  width:256px !important;
  float:left;
}

.used-column {
  @apply shadow;
}

.name-link {
  @apply text-sm text-indigo-700 underline;
}

.ui-sortable-helper {
  z-index:999999;
}

.group-header {
  @apply rounded-tl rounded-tr;
}

.muuri-handle {
  @apply bg-white py-1 px-2;
}

.column-holder .ui-sortable-placeholder {
  @apply bg-gray-200 m-2 h-10 rounded;
}

.new-column .ui-sortable-placeholder {
  @apply bg-gray-100 m-2 h-10 rounded;
}

.packery-drop-placeholder {
  @apply border-dashed border-gray-700 border-2 rounded;
  z-index:1;
  /* transition position changing */
  -webkit-transition: -webkit-transform 0.2s;
          transition: transform 0.2s;
}


#test-columns {

  height:100vh !important;

}

#test-columns:after {
  content: ' ';
  display: block;
  clear: both;
}

.droparea {
  @apply border-dashed border-gray-400 border-2;
}

.is-dragging {
  z-index:99999;
}

/* .footable-sortable:hover .footable-sort-indicator::after {
  font-family: "FontAwesome"; content: "\f0de";
  margin-left:8px;
} */



thead th {
  cursor:default;
}

.footable-sort-indicator::after {
  font-family: "FontAwesome"; content: "\f0dc";
  visibility: hidden;
  margin-left: 8px;
}

.footable-sortable:hover {
  @apply text-blue-400;
}

.footable-sortable:hover .footable-sort-indicator::after {
  visibility: visible;
}

.footable-sorted {
  @apply text-blue-400;
}

.footable-sorted .footable-sort-indicator::after {
  font-family: "FontAwesome"; content: "\f0de";
  visibility: visible;
}


.footable-sorted-desc {
  @apply text-blue-400;
}

.footable-sorted-desc .footable-sort-indicator::after {
  font-family: "FontAwesome"; content: "\f0dd";
  visibility: visible;

}

.table-tabs a {
  @apply text-gray-500;
}

.table-tabs a:hover {
  @apply text-gray-900;
}

.table-tabs .active {
  @apply border-b-2;
  color: var(--brandColor);
  border-color: var(--brandColor);
}

.table-tabs .active:hover {
  color: var(--brandColor);
}
